<style>
      @media (min-width: 1300px) and (max-width: 1480px) {

      .tocart{

      }
      .com_price{
        font-size: 20px;
      }

      }
      @media (min-width: 1100px) and (max-width: 1299px) {

      .tocart{

      }
      .com_price{
        font-size: 16px;
      }
      .tocart a {
        font-size: 14px;
      }

      .compare_all ul li{
        font-size: 16px;
      }

      }

      @media (min-width: 1001px) and (max-width: 1099px) {

      .tocart{

      }
      .com_price{
        font-size: 14px;
      }
      .tocart a {
        font-size: 12px;
      }

      .compare_all ul li{
        font-size: 16px;
      }

      }


    @media(max-width:1000px) {
      .compare_all ul:first-child, .compare_all ul:last-child{
          display: none;
      }
      .compare_all{
        gap: 10px;
        margin: 30px 0;
      }

      .compare_all ul{
        flex: 1 1;
        padding: unset;
      }
      .compare_all ul li:first-child{
        min-height: auto;
      }

      .selectPro{
        font-size: 14px;
        padding: 5px 15px 5px 5px;
      }

      .compare_all ul li{
        display: block;
        text-align: left;
        font-size: 14px;
        padding: 10px 0;
        line-height: 1.5;
      }

      .compare_all ul li.mindetail{
        display: none;
      }

      .m_title{
        display: block;
        color: #6D747D;
        padding-bottom: 8px;
      }

      .col_sw{
        margin-right: 10px;
        margin-left: unset;
        width: 30px;
      }

      .tocart{
        width: 100%;
        height: 50px;
        padding: 10px;
        border-radius: 5px;
        max-width:182px;
      }
      .com_price{
        font-size: 12px;
      }

      .tocart a{
        font-size: 12px;
        padding: 5px;
      }

      .btn_more_li{
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

    }
    @media screen and (max-width: 750px) {
        .compare_all ul:first-child{
         display: block;
      }
     .compare_all {
      margin-top: 0;
    }
     .selectPro{
       font-weight: 600;
      }
    .compare-title {
      font-size: 36px;
      font-weight: 600;
      color: #fff;
      line-height: 1.3;
    }

    .compare-text {
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      line-height: 1.5;
      margin-top: 15px;
    }

    .compare-top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 19px;
      /* margin-top: -80px; */
    }
    .compare-top .compare-top-item:last-child {
      display: none;
    }
    .compare-top-main {
      background: #F8F8F8;
      margin-top: 9px;
      padding: 10px;
    }
    .compare-top-main .li_content {
      display: grid;
      grid-gap: 10px;
      margin-top: 15px;
    }
    .compare-top-main li {

    }

    .compare-top-main li .m_title {
      font-size: 12px;
      font-weight: 400;
      color: #000000;
      line-height: 1.5;
    }

    .compare-top-line {
      position: relative;
      height: 5px;
      background: #D6E1F5;;
      border-radius: 5px;
      box-shadow: 1px 3px 2px 0px rgb(214 225 245 / 50%);
    }

    .compare-top-main li:first-child .compare-top-line .line {
      background: linear-gradient(90deg, #0BBAFB 0%, #4285EC 100%);;
      position: absolute;
      height: 100%;
      border-radius: 5px;
    }

    .compare-top-main li:last-child .compare-top-line .line {
      background: linear-gradient(90deg, #0BBAFB 0%, #4285EC 100%);;
      position: absolute;
      height: 100%;
      border-radius: 5px;
    }

    .compare-top-line .line {
      background: linear-gradient(90deg, #0BBAFB 0%, #4285EC 100%);;
      position: absolute;
      height: 100%;
      border-radius: 5px;
    }

    .compare-top-line span::before {
      width: 2px;
      height: 5px;
      background-color: #D6E1F5;;
      position: absolute;
      top: 0px;
      overflow: hidden;
    }

    .compare-top-line span::after {
      width: 2px;
      height: 5px;
      background-color: #D6E1F5;;
      position: absolute;
      top: 0px;
      overflow: hidden;
    }

    .compare-top-line span:nth-of-type(1)::before {
      content: "";
      left: 20%;
    }

    .compare-top-line span:nth-of-type(1)::after {
      content: "";
      left: 40%;
    }

    .compare-top-line span:nth-of-type(2)::before {
      content: "";
      left: 60%;
    }

    .compare-top-line span:nth-of-type(2)::after {
      content: "";
      left: 80%;
    }


    .compare-bottom {
      display: flex;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    .compare_all ul {
      padding: 0;
      margin: 0 !important;
      list-style: none;
    }
    .compare_all li {
      list-style: none;
    }

    .compare_all ul li{
      margin-bottom: 0 !important;
    }

    .compare_all ul li {
      font-size: 14px;
      font-weight: 600;
      color: #1A1A1A;
    }

    .compare_all ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: 1px solid #DCDCDC;
      margin: 0;
      padding: 10px;
    }
    .compare_all ul:first-child li {
      padding: 10px;
    }

    .compare_all ul:last-child li {
      padding: 10px;
    }

    .compare_all ul li:last-child{
      border-bottom:unset;
      padding: 0;
      padding-top: 20px;
    }

    .compare_all ul:first-child li:last-child .tocart {
      margin-left: 0;
    }
    .compare_all ul:last-child li:last-child .tocart {
      margin-right: 0;
    }


    .pro_img {
      text-align: center;
    }

    .compare_all ul li.mindetail {
      display: none;
    }
    .btn_more{
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .more_icon{
      margin-left: 10px;
      transform: rotateX(180deg);
    }
    select::-ms-expand { display: none; }
    .selectPro{
      display: block;
      width: 100%;
      cursor: pointer;
      /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
      border: 0;
      border-bottom: 1px solid #313131;

      /*很关键：将默认的select选择框样式清除*/
      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;

      /*在选择框的最右侧中间显示小箭头图片*/
      background: url("https://cdn.shopify.com/s/files/1/0574/9194/7718/files/b8cdf73e159b7d07a94a29462cc2a15d.png?v=1686205278") no-repeat scroll 99% center transparent;

      background-size: 12%;
      /*为下拉小箭头留出一点位置，避免被文字覆盖*/
      padding: 10px 0;
      padding-top: 0;
    }

    .selectPro:focus {
      outline: none;
      box-shadow: none;
    }

    .color_sw{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #dedbdb;
      cursor: pointer;
    }
    .color_sw:not(:last-child){
      margin-right: 5px;
    }

    .color_img{
      display: flex;
      justify-content: center;
    }

    .tocart{
    width: 90%;
      height: 35px;
      background: #009EE7;
      color: #fff;
      border-radius: 4px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      padding-left: 13px;
      padding-right: 5px;
      justify-content: space-between;
    }
    .com_price{
     font-weight: 600;
      font-size: 14px;
      letter-spacing: -1px;
      line-height: 1.5;
    }
    .tocart a{
     color: #161616;
      background: #EFFAFF;
      padding: 5px;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
    }


    .col_sw{
      width: 40px;
      aspect-ratio: 1 / 1;
      border: 1px solid #cfcbcb;
      margin: 0 5px;
    }

    .m_title{
      display: block;
      font-size: 12px;
      font-weight: 400;
      color: #B9B9B9;
    }

    .co_ssw{
        display: flex;
      }
    .backToTopBtn {
  display: flex;
      justify-content: center;
      font-weight: bold;
      color: #161616;
      font-size: 30px;
      line-height: 1.1;
      align-items: center;
      margin-bottom: 50px;
      cursor: pointer;
    }
      .backToTopBtn p {
        margin-bottom: 0;
      }
        .backToTopBtn svg {
          width: 90px;
      height: 45px;
        }
        .tocart:hover .com_price {
         display: none;
        }
         .tocart:hover a {
          background: none;
          color: #EFFAFF;
          width: 100%;
          text-align: center;
          margin-left: 0;
      font-size: 20px;
         }
         .compare-header {
          position: relative;
          width: 100%;
          z-index: -1;
         }
          .compare-header img {
            width: 100%;
          }
          .compare-header1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 50px;
          }
  }
  @media screen and (min-width: 750px) {
      .compare_all {

    }

    .compare-title {
      font-size: 60px;
      font-weight: 600;
      color: #fff;
    }

    .compare-text {
      font-size: 24px;
      font-weight: 500;
      color: #fff;
    }

    .compare-top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 6%;
      /* margin-top: -260px; */
    }
    .compare-top-main {
      background: #F8F8F8;
      margin-top: 9px;
      padding: 15px 20px 15px 20px;
    }
    .compare-top-main .li_content {
      display: grid;
      grid-gap: 15px;
      margin-top: 20px;
    }
    .compare-top-main li {
      display: grid;
      grid-template-columns: auto 63%;
      align-items: center;
      grid-gap: 5%;
    }

    .compare-top-main li .m_title {
      font-size: 14px;
      font-weight: 400;
      color: #000000;
    }

    .compare-top-line {
      position: relative;
      height: 10px;
      background: #D6E1F5;;
      border-radius: 5px;
      box-shadow: 1px 3px 2px 0px rgb(214 225 245 / 50%);
    }

    .compare-top-main li:first-child .compare-top-line .line {
      background: linear-gradient(90deg, #0BBAFB 0%, #4285EC 100%);;
      position: absolute;
      height: 100%;
      border-radius: 5px;
    }

    .compare-top-main li:last-child .compare-top-line .line {
      background: linear-gradient(90deg, #0BBAFB 0%, #4285EC 100%);;
      position: absolute;
      height: 100%;
      border-radius: 5px;
    }

    .compare-top-line .line {
      background: linear-gradient(90deg, #0BBAFB 0%, #4285EC 100%);;
      position: absolute;
      height: 100%;
      border-radius: 5px;
    }

    .compare-top-line span::before {
      width: 2px;
      height: 10px;
      background-color: #D6E1F5;;
      position: absolute;
      top: 0px;
      overflow: hidden;
    }

    .compare-top-line span::after {
      width: 2px;
      height: 10px;
      background-color: #D6E1F5;;
      position: absolute;
      top: 0px;
      overflow: hidden;
    }

    .compare-top-line span:nth-of-type(1)::before {
      content: "";
      left: 20%;
    }

    .compare-top-line span:nth-of-type(1)::after {
      content: "";
      left: 40%;
    }

    .compare-top-line span:nth-of-type(2)::before {
      content: "";
      left: 60%;
    }

    .compare-top-line span:nth-of-type(2)::after {
      content: "";
      left: 80%;
    }

    .compare-bottom {
      display: flex;
      margin-top: 10px;
    }

    .compare_all ul {
      padding: 0;
      margin: 0 !important;
      list-style: none;
      width: 33.33%;
    }

    .compare_all li {
      list-style: none;
    }

    .compare_all ul li{
      margin-bottom: 0 !important;
    }

    .compare_all ul li div:last-child {
      font-size: 16px;
      font-weight: 600;
      color: #1A1A1A;
      line-height: 1.3;
      margin-top: 5px;
    }

    .compare_all ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: 1px solid #DCDCDC;
      margin: 0;
      padding: 15px 10% 15px 15%;
    }
    .compare_all ul:first-child li {
      padding: 15px 15% 15px 10%;
    }

    .compare_all ul:last-child li {
      padding: 15px 10% 15px 20%;
    }

    .compare_all ul li:last-child{
      border-bottom:unset;
      padding: 0;
      padding-top: 37px;
    }

    .compare_all ul:first-child li:last-child .tocart {
      margin-left: 0;
    }
    .compare_all ul:last-child li:last-child .tocart {
      margin-right: 0;
    }


    .pro_img {
      text-align: center;
    }

    .compare_all ul li.mindetail {
      display: none;
    }
    .btn_more{
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .more_icon{
      margin-left: 10px;
      transform: rotateX(180deg);
    }
    select::-ms-expand { display: none; }
    .selectPro{
      display: block;
      width: 100%;
      cursor: pointer;
      /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
      border: 0;
      border-bottom: 1px solid #313131;

      /*很关键：将默认的select选择框样式清除*/
      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;

      /*在选择框的最右侧中间显示小箭头图片*/
      background: url("https://cdn.shopify.com/s/files/1/0574/9194/7718/files/b8cdf73e159b7d07a94a29462cc2a15d.png?v=1686205278") no-repeat scroll 99% center transparent;

      background-size: 5%;
      /*为下拉小箭头留出一点位置，避免被文字覆盖*/
      padding: 14px 0;
    }

    .selectPro:focus {
      outline: none;
      box-shadow: none;
    }

    .color_sw{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #dedbdb;
      cursor: pointer;
    }
    .color_sw:not(:last-child){
      margin-right: 5px;
    }

    .color_img{
      display: flex;
      justify-content: center;
    }
    .tocart{
      width: 85%;
      height: 55px;
      background: #009EE7;
      color: #fff;
      border-radius: 4px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      padding-left: 46px;
      padding-right: 20px;
      justify-content: space-between;
    }

    .com_price{
      font-weight: 600;
      font-size: 20px;
      letter-spacing: -1px;
    }
    .tocart a{
      color: #161616;
      background: #EFFAFF;
      margin-left: 14px;
      padding: 5px 20px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 500;
    }


    .col_sw{
      width: 40px;
      aspect-ratio: 1 / 1;
      border: 1px solid #cfcbcb;
      margin: 0 5px;
    }


    .m_title{
      display: block;
      font-size: 14px;
      font-weight: 400;
      color: #B9B9B9;
      line-height: 1.5;
    }
    .co_ssw{
        display: flex;
      }
    .backToTopBtn {
  display: flex;
      justify-content: center;
      font-weight: bold;
      color: #161616;
      font-size: 54px;
      line-height: 1.1;
      align-items: center;
      margin-bottom: 109px;
      cursor: pointer;
    }
      .backToTopBtn p {
        margin-bottom: 0;
      }
        .backToTopBtn svg {
          width: 100px;
      height: 60px;
        }
        .tocart:hover .com_price {
         display: none;
        }
         .tocart:hover a {
          background: none;
          color: #EFFAFF;
          width: 100%;
          text-align: center;
          margin-left: 0;
      font-size: 20px;
         }
         .compare-header {
          position: relative;
          width: 100%;
          z-index: -1;
         }
          .compare-header img {
            width: 100%;
          }
          .compare-header1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 60px;
          }
  }
  @media screen and (min-width: 750px) and (max-width: 1490px) {
    .compare-top {
      /* margin-top: -120px; */
    }

  }
</style>

<div
  class="compare_all"
  {% if section.settings.background_color != blank %}
    style="background-color: {{ section.settings.background_color }}; padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px"
  {% endif %}
>
  {% assign collection = collections[section.settings.compare_collection] %}
  <div class="container">
    <div class="compare-top">
      {% for product in collection.products limit: 3 %}
        {% assign index = forloop.index0 %}
        <div class="compare-top-item">
          <div class="pro_img">
            <img src="{{ product.featured_image | img_url: '1000x' }}" alt="">
          </div>

          <div class="compare-top-main">
            <div class="select_pro">
              <select
                name="selectPro"
                id="seletPro"
                class="selectPro"
              >
                {% for product in collection.products %}
                  <option
                    value="{{ product.id }}"
                    {% if index == forloop.index0 %}
                      selected
                    {% endif %}
                  >
                    {{ product.title }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="li_content">
              {% for item in product.metafields.custom.product_details.value %}
                {% if item.ismain == 0 %}
                  {% assign per = item.value | divided_by: 5.0 | times: 100 | append: '%' %}
                  <li>
                    <lable class="m_title">{{ item.title }}</lable>
                    <div class="compare-top-line">
                      <i class="line" style="width: {{ per }}"></i>
                      <span></span>
                      <span></span>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="compare-bottom">
      {% for product in collection.products limit: 3 %}
        {% assign index = forloop.index0 %}
        <ul>
          <div class="li_content">
            {% for item in product.metafields.custom.product_details.value %}
              {% if item.ismain == 1 %}
                <li>
                  <div class="m_title">{{ item.title }}</div>
                  <div style="color:{{ item.color }}">{{ item.value }}</div>
                </li>
              {% endif %}
            {% endfor %}

            <li>
              <div class="tocart">
                <div class="com_price">{{ product.price | money }}</div>
                <a href="{{ product.url }}">BUY NOW</a>
              </div>
            </li>
          </div>
        </ul>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  $(function(){
    var sUserAgent = navigator.userAgent;
    if (sUserAgent.indexOf('Android') > -1 || sUserAgent.indexOf('iPhone') > -1 || sUserAgent.indexOf('iPad') > -1 || sUserAgent.indexOf('iPod') > -1 || sUserAgent.indexOf('Symbian') > -1) {
     
      document.addEventListener('scroll', function(event) {
          var element = document.querySelector('.compare_all ul:nth-child(2) .pro_img');
          var rect = element.getBoundingClientRect();
          var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
          var distanceFromTop = rect.top + scrollTop;
          console.log(rect.top)
          if(rect.top <= 50){

          if( $('.select_pro').css("position") == 'fixed'){

          }else{
            $('.select_pro').css({
                    "position": "fixed",
                    "top": "50px",
                    "z-index": "999",
                    "background": "#fff",
                    "width": "47%"
          })
          }

          }else{
            $('.select_pro').css({
                    "position": "unset",
                    "width": "unset"
            })
          }
        });
      }

    })


  $(".selectPro").change(function(){
    
    // 1. 定义 Storefront API 的请求参数
    const domain = 'odinlake.myshopify.com';
    const accessToken = 'f2700f3e05b026bdaa77ff7fc5305b5d';
    const productId = $(this).val();
    // 2. 构建 API 请求 URL
    const apiUrl = `https://${domain}/api/2023-07/graphql.json`;
    // 3. 定义请求头
    const headers = {
      'Content-Type': 'application/graphql',
      'X-Shopify-Storefront-Access-Token': accessToken,
    };

    // 4. 构建 GraphQL 查询字符串
    const query = `
      query {
        product(id: "gid://shopify/Product/${productId}") {

            product_detail: metafield(key: "product_details", namespace: "custom") {
                value
            }
            variants(first: 50){
                edges{
                  node{
                    id
                    title
                    priceV2 {
                      amount
                    }
                    image {
                      url
                    }
                  }
                }
              }
        }
      }
    `;




        // 5. 发起 API 请求
        fetch(apiUrl, 
         {
            method: 'POST',
            headers: headers,
            body: query,
          }
        )
        .then(response => response.json())
        .then(data => {
            // 6. 处理获取到的产品信息
            const product = data.data.product;
            console.log(product)

            let liHtml1 = ``

            let proDetails = JSON.parse(product.product_detail.value)


            for(var i = 0; i< proDetails.length;i++){
                if(proDetails[i].ismain == 1){
                  liHtml1 = liHtml1 + `<li><div class="m_title">${proDetails[i].title}</div><div style="color:${ proDetails[i].color }">${proDetails[i].value}</div> </li>`
                }
            }

            let domHtml = `

    
            ${liHtml1}
    

            <li>
            <div class="tocart">
              <div class="com_price">$${product.variants.edges[0].node.priceV2.amount}</div>
              <a href="{{ product.url }}">BUY NOW</a>
            </div>
            </li> 
            `
            var changeIndex = $(this).parents('.compare-top-item').index()
            console.log(changeIndex)

            $('.compare-bottom ul').eq(changeIndex).html(domHtml)



            let topHtml = `
                <img src="${product.variants.edges[0].node.image.url}" alt="">
            `

            $('.compare-top .compare-top-item').eq(changeIndex).find('.pro_img').html(topHtml)

            let lineHtml = ``

            for(var i = 0; i< proDetails.length;i++){
                if(proDetails[i].ismain == 0){
                  let per = proDetails[i].value / 5 * 100
                  lineHtml = lineHtml + `
                  <li>
                    <lable class="m_title">${proDetails[i].title}</lable>
                    <div class="compare-top-line">
                      <i class="line" style="width: ${per}%"></i>
                      <span></span>
                      <span></span>
                    </div>
                  </li>
                  `
                }
            }
          

            $('.compare-top .compare-top-item').eq(changeIndex).find('.li_content').html(lineHtml)
        })
        .catch(error => {
            console.error('Error fetching product:', error);
        });

  })
</script>

{% schema %}
{
  "name": "Section Compare",
  "settings": [
      {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "rgba(0,0,0,0)"
    },

    {
      "type": "collection",
      "id": "compare_collection",
      "label": "Compare Collection"
    },
        {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Section Compare"
    }
  ]
}
{% endschema %}
