{% layout 'theme.liquid' %}

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="form-vertical">
        <h1>{{ 'customer.register.title' | t }}</h1>

        {%- form 'create_customer' -%}
          {{ form.errors | default_errors }}

          <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
          <input type="text" name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name">

          <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
          <input type="text" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name">

          <label for="CustomerEmail">{{ 'customer.register.email' | t }}</label>
          <input type="email" name="customer[email]" id="CustomerEmail" {% if form.email %}value="{{ form.email }}"{% endif %} autocomplete="email" spellcheck="false">

          <label for="CustomerPassword">{{ 'customer.register.password' | t }}</label>
          <input type="password" name="customer[password]" id="CustomerPassword" autocomplete="new-password">

          <button type="submit">{{ 'customer.register.submit' | t }}</button>

          <a href="{{ routes.account_login_url }}">{{ 'customer.register.log_in' | t }}</a>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>